fastapi
starlette
pydantic
passlib
databases
motor
uvicorn
fastapi-contrib
jaeger-client
pydantic[email]
python-multipart
pymongo
firebase-admin
websockets 
PyJWT
bcrypt
gunicorn
fastapi-pagination
hypercorn
